.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #a5b4fc; /* Light Indigo border */
  border-radius: 0.75rem;
  outline: none;
  font-size: 1.125rem;
  font-family: 'Baloo 2', cursive, 'Roboto', sans-serif;
  transition: all 0.3s ease;
  background-color: white;
  color: #1e293b;
  box-shadow: 0 0 10px rgba(99, 102, 241, 0.3);
}
.input:focus {
  border-color: #4338ca; /* Indigo-700 */
  box-shadow: 0 0 8px #4338ca;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}